script.
  const onChangeHandler = (e) => {
    const date = new Date();
    console.log(e.data, `${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}.${date.getMilliseconds()}`)}

input(oninput="onChangeHandler(event)")